@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@keyframes animatedText{
  to{
      background-position: 100%; 
  }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
section{
  margin: 0 0 25px;
}
.about{
  margin: 0 20px;
}
.buttons{
  opacity: .6;
  z-index: 1;
  position: fixed;
  padding: 10px 0 10px 10px;
  border-radius: 10px 0 0 10px;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  animation: fade-in-right 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.icons{
  width: 48px;
}
.button-nav{
  background-color: grey;
  border-radius: 100px 0 0 100px;
  width: 40px;
  height: 40px;
  margin: 10px 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login , .button{
  background-image: linear-gradient(to right, #00F260, #f79d00, #0575E6, #64f38c);
  color: transparent;
  background-size: 300%;
  background-position: -100%;  
  animation: animatedText 5s infinite alternate-reverse;
  border-radius: 100%;
}
.button-nav:hover{
  cursor: pointer;
}
.hero , .loginSignMain{
  background-image: repeating-linear-gradient(45deg, transparent, transparent 100px, #181818 100px, #181818 200px);
  background-color: #000000;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  height: 100vh; 
  color: white;
  animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.loginSignMain{
  height: 90vh;
}
h1 , h5{
  background-image: linear-gradient(to right, #00F260, #f79d00, #0575E6, #64f38c);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  background-size: 300%;
  background-position: -100%;  
  animation: animatedText 5s infinite alternate-reverse;
  font-size: 4.5rem;
}
.text2{
  color: white;
}
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 24px;
  height: 24px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
  animation: fade_move_down 4s ease-in-out infinite;
}
.about, .services , .contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
h2{
  font-weight: 400;
}
.about h4{
  font-size: 1.2rem;
  font-weight: 600;
}
.about p{
  color: gray;
  margin-bottom: 10px;
}
.about button , form button{
  border: none;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
  transition: .5s;
}
.about button:hover , form button:hover{
  background-color: rgba(128, 128, 128, 0.5);
  transition: .5s;
  cursor: pointer;
  padding: 7px;
}
.img-about{
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.about-card{
  margin: 25px 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.about-card-description{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicesText{
  background-color: black;
  color: white;
  padding: 10px 20px;
}
.serviceCard{
  max-width: 300px;
  padding: 10px;
  margin: 25px 0;
  border-radius: 5px;
  transition: 1s;
}
.serviceCard h4{
  font-weight: 600;
}
.serviceCard p{
  color: gray;
}
.serviceCard:hover{
  box-shadow: #0575E6 0px 1px 5px;
  transition: 1s;
  cursor: pointer;
}
.serviceCard button{
  background-image: linear-gradient(to right, #00F260, #f79d00, #0575E6, #64f38c);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  background-size: 300%;
  background-position: -100%;  
  animation: animatedText 5s infinite alternate-reverse;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}
.contact{
  background-image: repeating-linear-gradient(45deg, transparent, transparent 100px, #181818 100px, #181818 200px);
  background-color: #000000;
  color: white;
  margin-bottom: 0;
}
.contactText{
  padding: 10px 20px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  width: 320px;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0 30px;
}
form input , form textarea{
  width: 90%;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #000000;
  color: white;
}
form input{
  height: 30px;
}
form textarea{
  height: 150px;
}
.formLoginSign{
  max-width: 525px;
  height: 400px;
  justify-content: space-around;
  text-align: center;
}
.formLoginSign label{
  font-size: 1.2rem;
}
.formLoginSign .button{
  font-size: 1.2rem;
  width: 200px;
  height: 48px;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
}
.signIn{
  color: rgb(175, 175, 175);
  transition: 1s;
  text-decoration: underline;
}
.signIn:hover{
  color: black;
  transition: 1s;
}
footer{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
h5{
  font-size: 16px;
}
.text3{
  color: rgb(0, 0, 0);
}
footer div{
  display: flex;
}
footer div img{
  width: 32px;
  margin: 0 5px;
}
.sections{
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@media (min-width: 1024px){
  .buttons{
    opacity: 1;
  }
  h1{
    font-size: 90px;
  }
  h2{
    font-size: 42px;
  }
  .scroll-down{
    width: 42px;
    height: 42px;
  }
  .aboutText{
    width: 80%;
  }
  .about-card{
    flex-direction: row;
    max-width: 900px;
  }
  .img-about{
    width: 350px;
  }
  .about-card-description{
    text-align: left;
    justify-content: space-around;
    padding: 0 50px;
    align-items: start;
  }
  .about-card h4{
    font-size: 32px;
  }
  .about-card p{
    font-size: 18px;
  }
  .servicesText{
    width: 100%;
  }
  .cardsContainer{
    display:grid;
    grid-template-columns: 320px 320px;
    grid-row: auto auto;
    grid-column-gap: 45px;
    grid-row-gap: 45px;
  }
  form{
    width: 600px;
  }
}